.comments-details{
    display: flex;
    width: 50%;
    border-radius: 5px;
    margin: 15px auto;
    padding: 10px 10px;
    box-shadow: 1px 1px 5px lightgrey;
}
.user-details{
    
}

.user-details p {
    margin-top: 0px;
    margin-bottom: 0px;
}